# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./Frontend/node_modules
./Frontend/.pnp
./Frontend/.pnp.js

./Backend/node_modules/
./Backend/.env

# testing
./Frontend/coverage

# next.js
./Frontend/.next/
./Frontend/out/

# production
./Frontend/build

# misc
./Frontend/.DS_Store
./Frontend/*.pem

# debug
./Frontend/npm-debug.log*
./Frontend/yarn-debug.log*
./Frontend/yarn-error.log*
./Frontend/.pnpm-debug.log*

# local env files
./Frontend/.env*.local

# vercel
./Frontend/.vercel
